<section class="seccion_personajes">
    <h1>PERSONAJES</h1><br>
      <div class="wrapper_personajes">

        <div class="personaje_container" *ngFor="let persona of peoples">
          <img [src]="persona['imagen']" title="c3po" width="30%">
          <h5>{{ persona.name }}</h5><br>
            <li>
              <label for="año">Año Nacimieto: </label> {{ persona.birth_year }}
            </li><br>
            <li>
              <label for="Estatura">Estatura: </label> {{ persona.height }}
            </li><br>
            <li>
              <label for="Masa">Masa Corporal: </label> {{ persona.mass }}
            </li><br><br>
        </div>
      </div>
    <!--/div-->
    <div><a href="#"><p class="read_more_pj">Leer mas ...</p></a></div>
  </section>

  <section class="seccion_naves">
    <h1>VEHICULOS</h1><br>
      <div class="wrapper_naves">

        <div class="nave_container" *ngFor="let pri of nave">
          <img src="*" title="X-Wing" width="30%">
          <h1></h1><br><p>
              <li>
                  <label for="año">Año Nacimieto: </label>{{ naves.name }}
              </li>
          </p>
        </div>

        <div class="nave_container" *ngFor="let vehiculo of vehicles">
          <img [src]="vehiculo['imagen']" width="60%" >
          <h5>{{vehiculo.name}}</h5><br>
          <li>
            <label for="año">Modelo : </label> {{ vehiculo.model }}
          </li><br>
          <li>
            <label for="Estatura">Fabricante: </label> {{ vehiculo.manufacturer }}
          </li><br>
          <li>
            <label for="Masa">Capacidad de carga: </label> {{ vehiculo.cargo_capacity }}
          </li><br><br>
        </div>
      </div>
    <!--/div-->
    <div><a href="#"><p class="read_more_ne">Leer mas ...</p></a></div>
  </section>
  <br>
